# Bot Sozlamalari (Namuna)
BOT_TOKEN=
VIDEO_BOT_TOKEN=
CALCULATION_METHOD=3
TIMEZONE=Asia/Tashkent

# Telegram API sozlamalari (my.telegram.org)
TELEGRAM_API_ID=
TELEGRAM_API_HASH=

# Local Telegram Bot API Server sozlamalari (2GB limit)
USE_LOCAL_BOT_API=true
LOCAL_BOT_API_URL=http://localhost:8081
